langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-groq
youtube_transcript_api
unstructured
pytube
streamlit==1.28.0
validators==0.22.0
yt-dlp==2023.12.30
requests==2.31.0
